<%= form_for(registration) do |f| %>
  <% if registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :First_name %>
    <%= f.text_field :First_name %>
  </div>

  <div class="field">
    <%= f.label :Last_name %>
    <%= f.text_field :Last_name %>
  </div>

  <div class="field">
    <%= f.label :Email %>
    <%= f.text_field :Email %>
  </div>

  <div class="field">
    <%= f.label :Age %>
    <%= f.text_field :Age %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
